.App {
  min-height: 100vh;
  
}

.Container {
  width: 100%;      /* or max-width: 1200px; */
  max-width: 1200px;
  margin: 0 auto;   /* center the container horizontally */
  padding: 0 16px;  /* add some side padding */
}