

.content-container {
  width: 100%;
  background: wheat;
  padding-bottom: 40px;
  padding-top: 30px;
}

.content {
  width: 960px;
  margin: 0 auto; 
  margin-left: calc(50% - 475px);
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  background: wheat;
}


/* NoPost.css */
.noPost-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-post-grid-item {
  grid-column: 1 / -1; /* Span all columns */
  width: 100%;
}

.profile-separator {
  width: 100%;
  border-top: 1px solid #d5cbbc;
  margin: 20px 0 40px 0;
}

.noPost-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3a2a1a;
  text-align: center; /* Ensure text is centered */
  width: 100%; /* Take full width of parent */
}

.noPost-text h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #3a2a1a;
}

.noPost-text p {
  font-size: 14px;
  color: #5a4a3a;
  margin-bottom: 20px;
}

.noPost-create-link a {
  font-weight: 600;
  color: #8a7860;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.2s ease;
}

.noPost-create-link a:hover {
  color: #5a4a3a;
}



