.content-container{
    /*background-color: rgb(248, 248, 248);*/
}

.content {
    width: 960px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
}

.no-posts-placeholder {
  grid-column: 1 / -1; /* spans all grid columns */
  padding: 50px 0;
  text-align: center;
  color: black;
  font-size: 1.2rem;
}

