.post-container{
    margin: 15px;
    position: relative;
}

.post-image{
    width: 300px;
    height: 300px;
    display: block;
    object-fit: contain;
    object-position: center;
    background-color: #f0f0f0; /* Light background for images that don't fill the space */
}
.post-container:hover{
    cursor: pointer;
}

.post-container:hover .post-overlay{
    opacity: 1;
}

.post-container:hover .post-image{
    filter: brightness(65%);
}

.post-overlay{
    color: white;
    position: absolute;
    top: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    opacity: 0;
}

.post-overlay span{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: white;
    text-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.post-overlay span:not(:last-child){
    margin-right: 15px;
}
